* {
margin: 0;
padding: 0;
}

body {
    background-color: rgb(91, 123, 111);
    text-align: center;
}
.container {
 height: 70vh;
 display: flex;
 
 justify-content: center;
 align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
font-size: 8vmin;
color: rgb(151, 95, 95);
background-color: whitesmoke
}

#reset_btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(87, 82, 82);
    color: azure;
    border-radius: 1rem;
    border: none;
}
#new_btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(87, 82, 82);
    color: azure;
    border-radius: 1rem;
    border: none;
}
#msg {
    color: azure;
    font-size: 8vmin;
}

.msg_container {
   height: 30vmin;
}

.hide {
    display: none;
}